edis-mobile/packages/
edis-mobile/edis-mobile/edis_mobile/obj/Debug/edis_mobile.App.xaml.g.cs
edis-mobile/edis-mobile/edis_mobile/obj/Debug/edis_mobile.MainPage.xaml.g.cs
edis-mobile/edis-mobile/edis_mobile.Android/obj/Debug/build.props
edis-mobile/edis-mobile/edis_mobile.Android/obj/
edis-mobile/edis-mobile/edis_mobile/obj/
edis-mobile/edis-mobile/edis_mobile.Android/bin/
edis-mobile/edis-mobile/edis_mobile.iOS/bin/
edis-mobile/edis-mobile/edis_mobile.iOS/obj/
edis-mobile/edis-mobile/edis_mobile/bin/
packages/
EDIS.Shared/bin/Debug/System.Net.Http.xml
EDIS.Shared/obj/Debug/EDIS.Shared.App.xaml.g.cs
EDIS.Shared/obj/Debug/EDIS.Shared.csproj.App.config
EDIS.Shared/obj/
EDIS.Shared/bin/
EDIS.Service/obj/
EDIS.Service/bin/
EDIS.Android/obj/
EDIS.Domain/bin/
EDIS.Domain/obj/
EDIS.DTO/bin/
EDIS.DTO/obj/
EDIS.iOS/bin/
EDIS.iOS/obj/
EDIS.Android/bin/
EDIS.Core/bin/
EDIS.Core/obj/
EDIS.Data.Api/obj/
EDIS.Data.Database/obj/
EDIS.Data.Database/bin/
EDIS.Data.Api/bin/
.vs/EDIS/v15/sqlite3/storage.ide
